exportPattern("^[[:alpha:]]+")
import(foreach, plyr, doParallel,Rdpack)
importFrom("graphics", "par")
import("data.table")
import("igraph")
import("ggplot2")
import("ROCR")
import("lsa")
import("Matrix")
import("lattice")
import("WGCNA")
import("qlcMatrix")
importFrom("Rdpack","reprompt")
